#portfolio-page.homewell-scottsdale
  .container
    %h1.title Homewell Scottsdale
    .title-line-separator 
    .row
      .span4
        .about
          %p
            Bacon ipsum dolor sit amet filet mignon doner bacon swine drumstick t-bone. Swine tail shoulder turducken ball tip capicola short loin. Corned beef sausage pork belly ham pork chop. T-bone ham drumstick, pastrami andouille ball tip tongue. Salami andouille meatball, brisket spare ribs boudin pork shank filet mignon ground round. Beef hamburger biltong turducken, tenderloin t-bone turkey.
          %p
            Swine cow ham, jowl capicola ham hock spare ribs filet mignon. Ham capicola pork pastrami prosciutto bresaola cow tongue strip steak. Venison pastrami corned beef beef strip steak ham hock andouille tenderloin t-bone prosciutto. Tail spare ribs rump meatloaf pastrami brisket. Meatball chuck tongue fatback ground round. Boudin pork loin tri-tip jerky, pork ham hock pork belly salami shoulder venison. Pork shankle pig kielbasa pancetta, sirloin hamburger doner tail chicken.
          %p
            Shank ham hock beef spare ribs pork loin. Swine ground round cow tri-tip. Ham andouille bacon pork loin beef ribs boudin chicken brisket strip steak filet mignon tri-tip shoulder. Jerky turkey flank, tenderloin brisket frankfurter cow t-bone ball tip pig capicola. Swine meatball bacon strip steak sirloin sausage, ham turkey spare ribs salami brisket beef. Turducken beef corned beef chuck flank sausage, ball tip brisket pork andouille hamburger salami.
          %p
            Strip steak sirloin fatback corned beef pork belly salami, bacon beef venison sausage tail cow pork capicola. Filet mignon biltong boudin ground round t-bone. Cow ribeye tenderloin, turducken tri-tip fatback bacon corned beef. Pastrami short loin shank beef ribs hamburger, rump turkey drumstick pork tri-tip spare ribs pork belly pig tail biltong. Strip steak shankle frankfurter, fatback andouille pancetta ham prosciutto venison beef turducken.
      .span8
        .portfolio-image
          = image_tag('zipaclip_site.jpg')